
@media screen and (max-width: 479px) {
.wrap {
    width: 200px;
}

.header {
    height: auto;
    width: 200px;
    padding-right: 70px;
    padding-left: 0px;
}

.header-table {
    width: 60px;
    height: 160px;
}

.header-box {
    float: none;
}

.item1 {
    margin-right: 0px;
    margin-bottom: 10px;
}

.item2 {
    margin-right: 0px;
    margin-bottom: 10px;
}

.left  {
    height: 100px;
    width: 200px;
}

.right {
    height: auto;
    width: 200px;
    padding: 20px 0px 0px 30px;
}
.item6 {
    margin-bottom: 10px;
}
}